<p id="notice"><%= notice %></p>


<div class="container">
  <div class="bg-faded p-4 my-4">
    <!-- Welcome Message -->
    <div class="text-center mt-4">
      <h1 class="my-2">Genres <%= image_tag(asset_path('genres/logo.png'), height:'52', width:'52') %></h1>
        <hr class="divider">
        <h2 class="text-center text-lg text-capitalize my-0">Explore by Genre
        </h2>
      </div>
    </div>
  </div>
  <hr class="divider">


  <div id="gallery">
    <ul id="grid">
      <% @genres.each do |genre| %>
      <li><%=link_to image_tag(genre.image), genre %><%=genre.name%></li>


      <% end %>
    </ul>
  </div>
