<div class="center jumbotron">
  <h1>Spotify2  </h1>
  <h2>
    This is the home page for the
    <%= link_to 'II-2143', 'https://github.com/IIC2143-2017'%>
    sample application.
  </h2>

  <%= link_to "Sign up now!", 'users/sign_up', class: "btn btn-lg btn-primary" %>
</div>
